.formBuilder {
  border: 1px solid #fff;
  background-color: #121212 !important;
  border-radius: 12px;
  color: #fff !important;
  cursor: pointer;
  &:hover {
    background-color: #fff !important;
    color: #121212 !important;
  }
}

.formBuilder-card {
  &--outline {
    border: 1px solid #fff !important;
  }

  &--full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &--padding-sm {
    padding: 12px;
  }

  &--padding-md {
    padding: 24px;
  }

  &--padding-lg {
    padding: 28px;
  }
}
